.pizzaContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}

.burgerContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.searchBar:hover{
    background-color: rgb(250, 243, 243);
}
.itemsContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;
}
.filterBar{
    border: 1px solid black;
    height:  35px;
    padding-top: 15px;
}
