.title1 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 25px;
}

.paragraph1 {
    color: #eff542;
    font-size: 20px;
    padding-bottom: 25px;
}

.title2 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 25px;
}

.paragraph2 {
    color: #eff542;
    font-size: 20px;
    padding-bottom: 25px;
}

.title3 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 55px;
    padding-bottom: 25px;
}

.paragraph3 {
    color: #eff542;
    font-size: 20px;
    padding-bottom: 25px;
}

#button {
    background-color: red;
    color: #eff542;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    height: 50px;
    width: 150px;
}

#button:hover {
    background-color: black;
}

section {
    width: 80%;
    margin: auto;
}

.subHeading {
    color: red;
}

.about {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 15px;
    width: 80%;
    margin: auto;
    line-height: 25px;
    padding-top: 55px;
}
