:root {

    --color1: rgb(250, 238, 214);
    --color2: red;
    --color3: black;
    --color4: white;
    --color5: rgb(250, 243, 243);
    --color6: rgb(255, 255, 255);
    --color7: #eff542;
    --textcolor: black;
    --bgcolor: white;
    --header: rgb(250, 238, 214);
    --search: white;
}

body {
    background-color: var(--bgcolor);
}



header {
    background-color: var(--header);
    position: relative;
    /* or sticky/fixed */
    z-index: 1100;

}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem 1rem;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}


.navbar ul li {
    cursor: pointer;
}

.navItems {
    display: flex;
    gap: 1.25rem;
    list-style: none;
    color: var(--color2);
}

.navItems li:hover {
    color: var(--color3);
}

.navLogo {
    font-size: 45px;
    font-weight: 500;
}

.navIcons {
    display: flex;
    gap: 35px;
    cursor: pointer;
    color: var(--color3);
}

.cartItem:hover {
    color: var(--color3);
}

.store :hover {
    color: var(--color2);
}

.darkmode :hover {
    color: var(--color2);
}

.navItems .active {
    padding-bottom: 2px;
    border-bottom: solid 2px var(--color3);
}

footer {
    background-color: var(--header);
    margin-top: 20px;
}

.footerDetails {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* desktop: 4 columns */
    gap: 20px;
    width: 80%;
    margin: 25px auto 0;
    color: var(--color2);
    cursor: pointer;
}

.footerDetails>div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footerDetails p {
    font-size: 14px;
}

.email {
    display: flex;
    gap: 10px;
}

.emailIcon {
    padding-top: 7px;
}

.phone {
    display: flex;
    gap: 10px;
}

.phoneIcon {
    padding-top: 7px;
}

.logoIcon {
    padding-bottom: 15px;
}

.facebook {
    display: flex;
    gap: 10px;
}

.facebookIcon {
    padding-top: 7px;
}

.instagram {
    display: flex;
    gap: 10px;
}

.instagramIcon {
    padding-top: 7px;
}

.cartCount {
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin-left: 22px;
    position: absolute;
    font-size: 15px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-toggle {
    display: none;
    /* hidden on desktop */
    background: none;
    border: none;
    font-size: 1.7rem;
}


@media (max-width: 768px) {
    .nav-toggle {
        display: block;
        /* show hamburger */
    }

    .nav-right {
        position: fixed;
        top: 64px;
        /* exactly under fixed header */
        left: 0;
        right: 0;
        bottom: 0;
        /* reach footer -> full height */
        z-index: 1099;
        background: var(--header, #fbe3c6);
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        gap: 1rem;
        display: none;
        overflow-y: auto;
    }

    .nav-right.open {
        display: flex;
        /* show when menuOpen is true */
    }

    .navItems {
        flex-direction: column;
        width: 100%;
        gap: 0.75rem;
    }

    .navIcons {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .footerDetails {
        grid-template-columns: 1fr;
        width: 95%;
        text-align: left;
    }

    .footerDetails>div {
        border-bottom: 1px solid #e0e0e0;
        padding-bottom: 10px;
    }

    .footerDetails>div:last-child {
        border-bottom: none;
    }

    header {

        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 1100;
    }

    .page-wrapper {
        padding-top: 64px;
        /* same as header height */
    }

}